.class-link {
  color: #0b377e;
  cursor: pointer;
  font-weight: 500;
}

.class-link:hover {
  opacity: 0.8;
}

.class-table th:nth-child(1),
.class-table td:nth-child(1) {
  width: 3%;
  text-align: center;
}

.class-table th:nth-child(2),
.class-table td:nth-child(2) {
  width: 12%;
}

.class-table th:nth-child(3),
.class-table td:nth-child(3) {
  width: 11%;
  text-align: center;
}

.class-table th:nth-child(4),
.class-table td:nth-child(4) {
  width: 12%;
}

.class-table th:nth-child(5),
.class-table td:nth-child(5) {
  width: 5%;
  text-align: center;
}

.class-table th:nth-child(6),
.class-table td:nth-child(6) {
  width: 8%;
  text-align: center;
}

.class-table th:nth-child(7),
.class-table td:nth-child(7) {
  width: 10%;
}

.class-table th:nth-child(8),
.class-table td:nth-child(8) {
  width: 8%;
  text-align: center;
}

.class-table th:nth-child(9),
.class-table td:nth-child(9) {
  width: 8%;
}

.class-table th:nth-child(10),
.class-table td:nth-child(10) {
  width: 8%;
}
